<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools"
    package="com.example.fieldofdream">

    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" />

    <application
        android:allowBackup="true"
        android:icon="@drawable/small_logo"
        android:label="Поле-чудес"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/AppTheme"
        tools:ignore="GoogleAppIndexingWarning">
        <activity
            android:name=".Activities.Leaders"
            android:screenOrientation="landscape"></activity>
        <activity
            android:name=".Activities.AboutDevelopers"
            android:screenOrientation="landscape" />
        <activity
            android:name=".Activities.Settings"
            android:screenOrientation="landscape" />
        <activity
            android:name=".Activities.InGameActivity"
            android:screenOrientation="landscape" />
        <activity
            android:name=".Activities.MainActivity"
            android:screenOrientation="landscape" />
        <activity
            android:name=".SplashActivity"
            android:theme="@style/SplashTheme">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity android:name=".GameAlgo.ReadWriteFile" />

        <service
            android:name=".MyPlayer"
            android:enabled="true" />

        <activity android:name=".GameAlgo.FieldOfDream" />
    </application>

</manifest>